.container{
    border-radius: 10px;
    margin: 64px 64px 64px 64px;
    padding: 64px 64px 64px 64px;
    display: flex;
    justify-content: space-between;

    background-color: paleturquoise;
    /*border: 1px solid gray;*/
    
}
.banner{
     margin: 5px 5px 5px 5px;
     padding: 5px 5px;

}
.paragraph{
        font-family: "Fira Sans", serif;
        font-weight: 300;
        font-style: normal;
        font-size: 24;
        padding: 30px 30px;
        margin-bottom: 1px;
        
}
.h1{
    margin-top: 1px;
    font-size: 50px;
    padding: 0% 30px;
    text-align: left;
}

.btn{
    background-color: #006A50;
    margin:5px 5px 5px 5px ;
    height: 56px;
    cursor: pointer;
    width:270px;
    color: white;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    border-radius: 10px;
    padding: 17px 34px;
    transition-duration: 0.5s;
}
.btn:hover{
    background-color: #013629;
    color: white;
}
.img{
    background-image: url(./B11A1--assignment-1-main/assets/hero.png);
}
.pillar-container{
    margin: 0px;
}
.Pillar-head{
    margin: 64px 64px 64px 64px;
    padding: 64px 64px 64px 64px;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0px;
}
.pillars-container{
    display: flex;
    gap: 24px;
    margin: 64px 64px 64px 64px;
    padding: 24px 24px;
    margin-top: 0px;
}

.pillars{
    padding: 24px 24px 24px 24px;
    border-radius: 16px;
    border: 1px 1px 1px 1px solid gray;
}
/*visions*/
.Vision{
    margin :5px 5px 5px 5px;
    padding: 0%;
    margin-bottom:0%;
    padding-bottom: 1%;
    margin-bottom: 0%;
}
.card1{
    background-image: url(B11A1--assignment-1-main/assets/card-icon.png);
}
.card2{
    background-image: url(B11A1--assignment-1-main/assets/card-icon.png);
}
.card3{
    background-image: url(B11A1--assignment-1-main/assets/card-icon.png);
}
.heading-of-vision{
    margin: 64px 64px 64px 64px;
    padding: 64px 64px 64px 64px;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0px;
    padding-bottom: 1%;
}
.paragraph-of-vision{
    font-size: 16px;
    margin: 64px 64px 64px 64px;
    margin-top: 0px;
    padding: 64px 5px 0px 64px;
    padding-top: 0%;
    font-weight: lighter;
    color: #0E0E0E;
    padding-bottom: 1%;
    margin-bottom: 0px;
}
.visions-container{
    display: flex;
    gap: 24px;
    margin: 64px 64px 64px 64px;
    padding: 64px 5px 0px 64px;
    margin-top: 0%;
    padding-top: 1%;
    padding-bottom: 0%;
    margin-bottom: 1px;
    
    
}
.visions-box1{
    padding-top: 30%;
    padding-bottom: 30%;
    text-align: justify;
    width:410px;
    height:300px;
    /*border:1px solid gray;*/
    border-radius: 16px;
    padding: 32px 32px;
    background-color: #9ebdf1;
    margin-bottom: 5%;
}
.visions-box1:hover{
    background-color:#85a1da;
}
.btn-digital-transformation{
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    /*border:1px solid gray;*/
    width: 122px;
    height: 41px;
    padding: 11px 11px;
    background-color: #457cdb;
}
.btn-digital-transformation:hover{
    background-color: #83a3db;
    color: white;
}
.visions-box2{
    padding-top: 30%;
    padding-bottom: 30%;
    text-align: justify;
    width:410px;
    height:300px;
    /*border:1px solid gray;*/
    border-radius: 16px;
    padding: 32px 32px;
    background-color: #4acc92;
    margin-bottom: 20%;
}
.visions-box2:hover{
    background-color: #7ceebb;
}
.btn-green-energy{
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    /*border:1px solid gray;*/
    width: 122px;
    height: 41px;
    padding: 11px 11px;
    background-color: #09A15C;
}
.btn-green-energy:hover{
    background-color: #71e4b0;
    color: white;
}
.visions-box3{
    padding-top: 30%;
    padding-bottom: 30%;
    text-align: justify;
    width:410px;
    height:300px;
    /*border:1px solid gray;*/
    border-radius: 16px;
    padding: 32px 32px;
    background-color: #f7cf73;
    margin-bottom: 20%;
}
.visions-box3:hover{
    background-color: #f5d998;
}
.btn-Modern-infrastructure{
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    /*border:1px solid gray;*/
    width: 122px;
    height: 41px;
    padding: 11px 11px;
    background-color: #FFC239;
}
.btn-Modern-infrastructure:hover{
    background-color: #fcd67d;
    color: white;
}
/*news*/
.news{
   margin: 64px 64px 64px 64px;
   padding: 48px 48px 48px 48px;
   margin-top: 1px;

}
.heading-news{
    font-size: 40px;
    font-weight: bold;
    padding: 1px 48px 1px 48px;
    padding-top: 1px;
    margin-bottom: 0px;
}
.news-img{
    width: 400px;
    height: 300px;
    border-radius: 24px;
    background-image: url(B11A1--assignment-1-main/assets/satelite.png);
}
.news-img1{
    padding-top: 1px;
    margin-top: 1px;
    background-image: url(B11A1--assignment-1-main/assets/al-jazeera.png);
}
.paragraph-news{
    font-size: 16px;
    font-weight: normal;
    padding-top: 1px;
    padding: 1px 48px 1px 48px;
}
.date-time{
    display: flex;
    gap: 5px;
}
.btn-news1{
    width: 139px;
    height: 48px;
    padding: 13px 26px 13px 26px;
    background-color: #006A50;
    border-radius: 8px;
    color: white;
}
.btn-news1:hover{
    background-color: #4acc92;
}
.news-para{
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 1px;
    margin-bottom: 1px;
}
.news-container{
display: flex;
gap: 32px;
margin: 10px 0px 5px 10px;
padding: 48px 48px 48px 48px;
/*border: 1px solid gray;*/
background-color: rgb(245, 241, 233);
border-radius: 24px;
}
.Para-of-news{
    padding: 0px 0px 0px 0px;
}
.news-cont2{
    display: flex;
    gap: 32px;
    margin: 10px 0px 5px 10px;
    padding: 48px 48px 48px 48px;
    /*border: 1px solid gray;*/
    background-color: rgb(245, 241, 233);
    border-radius: 24px; 
}
.Para-of-news2{
    padding: 0px 0px 0px 0px;
}
.news-para2{
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 1px;
    margin-bottom: 1px;
}
.news-img1-1{
    padding-top: 1px;
    margin-top: 1px;
    background-image: url(B11A1--assignment-1-main/assets/al-jazeera.png);
}
.date-time1{
    display: flex;
    gap: 5px;
}
.btn-news2{
    width: 139px;
    height: 48px;
    padding: 13px 26px 13px 26px;
    background-color: #006A50;
    border-radius: 8px;
    color: white;
}
.btn-news2:hover{
    background-color: #4acc92;
}
/*donation*/
.donate{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.donate2{
    text-align: center;
}
.donate3{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.first-tk{
    font-size: 40px;
    width: 200px;
    margin-top: 10px;
    height: 50px;
    font-weight: bold;
    /*border: 1px solid gray;*/
    background-color: rgb(243, 228, 228);
    border-radius: 16px;
    padding-top: 10px;
    padding: 40px 40px 40px 40px;
    text-align: center;
}
.second-tk{
    font-size: 40px;
    width: 200px;
    margin-top: 10px;
    height: 50px;
    font-weight: bold;
    /*border: 1px solid gray;*/
    background-color: rgb(132, 187, 132);
    border-radius: 16px;
    padding-top: 10px;
    padding: 40px 40px 40px 40px;
    text-align: center;
}
.third-tk{
    font-size: 40px;
    width: 200px;
    margin-top: 10px;
    height: 50px;
    font-weight: bold;
    /*border: 1px solid gray;*/
    background-color: rgb(243, 228, 228);
    border-radius: 16px;
    padding-top: 10px;
    padding: 40px 40px 40px 40px;
    text-align: center; 
}
.fourth-tk{
    font-size: 40px;
    width: 200px;
    margin-top: 10px;
    height: 50px;
    font-weight: bold;
    /*border: 1px solid gray;*/
    background-color: rgb(243, 228, 228);
    border-radius: 16px;
    padding-top: 10px;
    padding: 40px 40px 40px 40px;
    text-align: center;  
}
.btk{
    display: flex;
    justify-content: center;
}
.btn-taka{
    width: 150px;
    height: 50px;
    font-size: 15px;
    padding: 17px 34px 34px 17px;
    background-color: #006A50;
    border-radius: 8px;
    border: 1px solid gray;
    color: white;
    text-align: center;
}
.btn-taka:hover{
    background-color: #4acc92;
}
/*newsletter*/
.newsletter{
    align-content: center;
    text-align: center;
    margin-top: 15px;
    padding-top: 20px;
    padding-left: 60px;
    padding: 80px 100px 80px 100px;
    height: 300px;
    width: 600px;
    background-color: #4acc92;
    /*border : 1px solid gray:*/
    border-radius: 8px;
}
.form-field{
    height: 65px;
    width: 250px;
    border-radius: 8px;
    /*border: 1px solid gray;*/

}
.sub3{
    font-size: 18px;
    font-weight: lighter;
}
.sub{
    font-size: 40px;
    font-weight: bold;
}
.sub2{
    font-size: 16px;
    font-weight:lighter;
}

.sub-btn{
    width: 150px;
    height: 65px;
    border-radius: 8px;
    background-color: #006A50;
}
.sub-btn:hover{
    background-color: #bae9d4;
}